/seng300-w25-project.iml
/Project iteration 1.iml
/SENG_Project.iml
/target/
/BoardGamePlatform.iml
/src/resources/data/
/.idea/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/modules.xml
/misc.xml
/vcs.xml
/uiDesigner.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/codingplan.md
